/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.2
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/


#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:100px;
	right:30px;
	z-index:10000;

}


#toTop i {
    background: rgba(45, 156, 216, 1);
    border-radius: 3px 3px 3px 3px;
    color: #f7f7f7;
    font-size: 20px;
    padding: 9px 9px 20px 0px;
    z-index: 1000;
}

#toTop i:hover {
	background:#1FB4DA;
	color:#ffffff;
}

#toTop:active, #toTop:focus {
	outline:none;
}
